/* =================================
	Variables
==================================== */
/* ================================= 
  Base Element Styles
==================================== */
* {
  box-sizing: border-box; }

body {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.6;
  color: #05182a;
  margin: 0;
  background: #F9F9F9; }
  @media (min-width: 1024px) {
    body {
      padding: 0 30px 0 35px;
      max-width: 1125px;
      margin: 0 auto;
      background: #F5F5F5; } }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  font-size: 1em; }

a {
  text-decoration: none;
  color: #05182a; }

img {
  max-width: 90%; }

figure {
  margin: 0; }

figcaption {
  padding: 0 25px 35px 25px; }
  figcaption h3 {
    margin-bottom: 10px;
    font-size: 1.1em;
    font-weight: 700; }
  @media (min-width: 768px) {
    figcaption {
      padding: 0 50px;
      margin-bottom: 50px; } }

body, .main-nav a, .portfolio figcaption {
  text-align: center; }

.mobile-footer-nav {
  display: flex;
  justify-content: space-between; }

.nav-hide, .nav-show {
  margin: 0 auto;
  width: 0;
  height: 0;
  border-style: solid; }

.layout-wrapper, .portrait, .item img {
  box-shadow: -1px 2px 2px 0px rgba(0, 0, 0, 0.5); }

/* ---- Navigation ---- */
.name {
  font-size: 1.5em;
  font-weight: 900;
  color: #05182a;
  margin: 12px 0;
  text-shadow: 1px 1px #E8E8E8; }
  @media (min-width: 768px) {
    .name {
      margin: 25px 0 8px 0; } }
  @media (min-width: 1024px) {
    .name {
      margin: 0; } }

.main-nav {
  width: 90%;
  padding-bottom: 5px;
  margin: 10px auto;
  background: #81D0E2; }
  .main-nav li {
    margin-top: 5px;
    padding: 5px 0;
    font-weight: 900;
    background: #fff; }
    @media (min-width: 768px) {
      .main-nav li {
        font-weight: 900;
        background: #81D0E2; } }
    @media (min-width: 1024px) {
      .main-nav li {
        font-weight: 900;
        margin-left: 40px; } }
  .main-nav a {
    padding: 10px 15px;
    font-size: 0.85em;
    font-weight: 900;
    text-transform: uppercase; }
    @media (min-width: 1024px) {
      .main-nav a {
        padding: 0; } }
  .main-nav a:hover {
    color: gold; }
  @media (min-width: 768px) {
    .main-nav {
      display: flex;
      justify-content: center;
      margin-top: 0; } }
  @media (min-width: 768px) {
    .main-nav {
      width: initial;
      margin: 0; } }

.main-header {
  background: #81D0E2;
  padding-top: .35em;
  padding-bottom: .35em; }
  @media (min-width: 768px) {
    .main-header {
      display: flex;
      flex-direction: column;
      padding-bottom: 20px; } }
  @media (min-width: 1024px) {
    .main-header {
      flex-direction: row;
      justify-content: space-between;
      padding: 50px 20px 0 20px;
      margin: 0 auto 0 auto; } }

.layout-wrapper {
  background: #81D0E2; }
  @media (min-width: 1024px) {
    .layout-wrapper {
      padding: 0 20px; } }

.content-wrapper {
  background: #81D0E2; }

/* ---- Intro Section ---- */
.intro {
  color: #05182a;
  padding-bottom: 15px; }

.intro-box {
  padding: 20px 0 10px 0; }
  @media (min-width: 768px) {
    .intro-box {
      display: flex;
      align-items: flex-start;
      padding: 20px 20px 60px 20px; } }
  .intro-box p {
    padding: 0 20px; }
    @media (min-width: 768px) {
      .intro-box p {
        text-align: left;
        font-size: 1.2em;
        margin-top: 0;
        padding: 0 15px 0 0;
        order: -1; } }
    @media (min-width: 1024px) {
      .intro-box p {
        padding: 0 25px 0 0; } }
  @media (min-width: 1024px) {
    .intro-box {
      padding: 20px 0 60px 0;
      margin: 0 20px; } }

.portrait {
  margin-bottom: 10px;
  width: 65%;
  box-shadow: 0 0 2px rgba(29, 84, 107, 0.25); }
  @media (min-width: 768px) {
    .portrait {
      width: 40%;
      margin-top: 8px; } }
  @media (min-width: 1024px) {
    .portrait {
      width: 42%; } }

/* ---- Portfolio Section ---- */
.portfolio {
  padding-bottom: 40px;
  background: #fff; }
  @media (min-width: 768px) {
    .portfolio {
      display: flex;
      flex-flow: row wrap;
      padding: 0 20px; }
      .portfolio figure {
        flex: 1 50%;
        max-width: 50%; } }
  @media (min-width: 1024px) {
    .portfolio figure {
      flex: 1 30%; } }

.portfolio-title {
  background: #fff; }
  .portfolio-title h3 {
    text-transform: uppercase;
    padding: 45px 0;
    margin: 0;
    font-size: 1.1em;
    font-weight: 900; }

@media (min-width: 768px) {
  .item img {
    max-width: 97%; } }

/* ---- Contact Info Section ---- */
.contact-info {
  padding: 35px 15px 15px 15px;
  background: #81D0E2; }
  .contact-info h3 {
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 900; }
    @media (min-width: 768px) {
      .contact-info h3 {
        padding-bottom: 20px; } }
  .contact-info ul {
    padding: 15px 0; }
  .contact-info ul li {
    display: inline-block;
    padding: 0 10px; }
  @media (min-width: 768px) {
    .contact-info {
      padding: 45px 15px;
      width: 70%;
      margin: 0 auto; } }
  @media (min-width: 768px) {
    .contact-info p {
      font-size: 1.3em;
      margin: 20px auto; } }
  @media (min-width: 1024px) {
    .contact-info {
      flex: 1 30%; } }

/* ---- Footer ---- */
@media (min-width: 1024px) {
  .main-footer {
    padding-bottom: 30px; } }

.mobile-footer-nav {
  font-weight: bold;
  color: #81D0E2;
  width: 90%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 30px;
  border-top: 1px solid lightgrey; }
  .mobile-footer-nav li:nth-child(2) {
    font-size: 0.8em;
    text-transform: uppercase;
    margin: 2px 0 0 0; }
  @media (min-width: 768px) {
    .mobile-footer-nav {
      display: none; } }

.large-footer {
  display: none; }
  @media (min-width: 768px) {
    .large-footer {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid lightgrey;
      width: 90%;
      margin: auto;
      padding-top: 30px;
      padding-bottom: 80px; } }
  @media (min-width: 1024px) {
    .large-footer {
      padding-bottom: 10px; } }

@media (min-width: 768px) {
  .large-footer-nav {
    display: flex;
    justify-content: space-around; }
    .large-footer-nav li {
      padding-left: 30px;
      text-transform: uppercase;
      font-size: .8em;
      font-weight: 900; }
      .large-footer-nav li a {
        color: #05182a; } }

@media (min-width: 768px) {
  .footer-name {
    margin: 0; } }

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px; }

a.twitter {
  background-image: url(../img/twitter.svg); }

a.linkedin {
  background-image: url(../img/linkedin.svg); }

a.github {
  background-image: url(../img/github.svg); }

.nav-hide {
  border-width: 0 50px 25px 50px;
  border-color: transparent transparent #309BBE transparent; }
  @media (min-width: 768px) {
    .nav-hide {
      display: none; } }

.nav-show {
  border-width: 25px 50px 0 50px;
  border-color: #309BBE transparent transparent transparent; }
  @media (min-width: 768px) {
    .nav-show {
      display: none; } }

/*# sourceMappingURL=style.css.map */
