/* ---- Footer ---- */


.main-footer {

	@include desktop {
		padding-bottom: 30px;
	}
}

.mobile-footer-nav {
	@include text($weight: bold);
	color: $color-prim;
	width: 90%;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 30px;
	border-top: 1px solid lightgrey;
	@extend %flex-between;

		li:nth-child(2) {
			@include text($size: .8em);
			text-transform: uppercase;
			margin: 2px 0 0 0;
		}

	@include tablet {
		display: none;
	}
}

.large-footer {
	display: none;

	@include tablet {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid lightgrey;
		width: 90%;
		margin: auto;
		padding-top: 30px;
		padding-bottom: 80px;
	}

	@include desktop {
		padding-bottom: 10px;
	}
}

.large-footer-nav {
	@include tablet {
		display: flex;
		justify-content: space-around;
	
		li {
			padding-left: 30px;
			text-transform: uppercase;
			font-size: .8em;
			font-weight: 900;
		
			a {
				color: #05182a;
			}
		}
	}
}

.footer-name {
	@include tablet {
		margin: 0;
	}
}