// Contact buttons

a.social {
	display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
}

a.twitter {
  	background-image: url(#{$path-img}/twitter.svg);
}

a.linkedin {
  	background-image: url(#{$path-img}/linkedin.svg);
}

a.github {
  	background-image: url(#{$path-img}/github.svg);
}


.nav-hide {
	@extend %nav-toggle;
	border-width: 0 50px 25px 50px;
	border-color: transparent transparent #309BBE transparent;

	@include tablet {
		display: none;
	}
}

.nav-show {
	@extend %nav-toggle;
	border-width: 25px 50px 0 50px;
	border-color: #309BBE transparent transparent transparent;

	@include tablet {
		display: none;
	}
}